@font-face {
    font-family: remixa;
    src: url(./fonts/RemixaTest-Black-BF649a5c11b4c7e.woff2);
}
@font-face {
    font-family: mazius;
    src: url(./fonts/Mazius-Extraitalic.121a71a7.woff2);
}
@font-face {
    font-family: gilroy;
    src: url(./fonts/Gilroy-Medium.e7e7c091.woff2);
}
@font-face {
    font-family: gilroy-bold;
    src: url(./fonts/Gilroy-SemiBold.f3ed44cd.woff2);
}
@font-face {
    font-family: anton;
    src: url(./fonts/Anton-Regular.woff2);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
/* Loader start */
#intro {
    width: 100vw;
    height: 100vh;
    background-color: #dadada;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
#copyrightfront {
    width: 100vw;
    height: 8vh;
    /* background-color:#b92eef; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#copyrightfront h6 {
    
    font-family: gilroy;
    color: #1e1e1e;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    /* bottom: -12px; */
}
#frontheadcont {
    width: 100vw;
    height: 28vw;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#animatehead {
    font-family: anton;
    font-size: 25vw;
    /* background-color: #b92eef; */
    white-space: nowrap;
    text-transform: uppercase;
    color: #1e1e1e;
    line-height: 25vw;
    position: absolute;
}
#loader2 {
    width: 100vw;
    height: 100vh;
    background-color: #b92eef;
    position: absolute;
    z-index: 9;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    /* position: relative; */
    color: white;
}
#page1{
    width: 100%;
    min-height: 160vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: top;
    justify-content: center;
    overflow: hidden;
    position: relative;
    /* transform: translate(100% 50%); */
}
#page1 img {
    margin-top: -5vw;
    height: 140vh;
    transition:cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#longcontainer1 {
    width: 100%;
    min-height: 200vh;
    /* background-color: rgb(54, 227, 227); */
    position: absolute;
    top: 0;
}

#page2 {
    width: 100%;
    height: 150vh;
    /* background-color: rgb(57, 57, 161); */
    display: flex;

}
#page2-cont1 {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2vw;
    padding-left: 4vw;
    /* background-color: rgb(225, 99, 99); */
}
#page2-cont1 .head {
    font-family: remixa;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 8vw;
    /* background-color: aqua; */
    position: relative;
}
#page2-cont1 .head video {
    rotate: 90deg;
    border-radius: 6vw;
    position: absolute;
    top: -2.8vw;
    left: 23vw;
}
#page2-cont2 {
    width: 30%;
    height: 140vh;
    /* background-color: tomato; */
    position: relative;
}
#page2-cont2-part1 {
    width: 100%;
    height: 40%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#page2-cont2-part1 h4 {
    text-transform: uppercase;
    font-size: .8vw;
    color: #808080;
    font-family: gilroy;
    font-weight: 200;
    text-align: end;
    padding-right: 3vw;
}
#page2-cont2-part2 {
    /* background-color: tomato; */
    width: 100%;
    height: 60%;
    padding: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#page2-cont2-part2 h2{
    text-align: end;
    color: #808080;
    line-height: 3vw;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: gilroy;
    font-weight: lighter;
}
#page2-cont2-part2 .boldspan {
    font-weight: 900;
    font-family: gilroy-bold;
    text-transform: uppercase;

}
#page2-cont2-part2 h2 span {
    color: #b92eef;
    font-family: mazius;
    text-transform: lowercase;
    font-size: 3vw;
}


/* Start page 3 */

#page3 {
    width: 100%;
    height: 100vh;
    /* background-color: tomato; */
    position: relative;
}
#page3-cont1 {
    width: 100%;
    height: 40%;
    /* background-color: aquamarine; */
    font-family: remixa;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 6vw;
    position: absolute;
    z-index: 99;
}
#page3head2 {
    padding-left: 42vw;
}
#page3head2 span {
    font-family: mazius;
    font-size: 3vw;
    color: #b92eef;
    font-weight: 400;
}
#page3-cont2 {
    width :100%;
    height: 120vh;
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
    /* background-color: rgb(92, 90, 90); */
      
}
#page3-cont2 .typo{
    height: 60vh;
    z-index: 98;
    position: absolute;
    border-radius: 18px;
}
#typo1 {
    bottom: -60%;
    left: 45%;
    rotate: -20deg;
}
#typo2 {
    bottom: -60%;
    left: 23%;
    rotate: -20deg;
}
#typo3 {
    left: 50%;
    bottom: -60%;
    rotate: -20deg;
}
#typo4 {
    bottom: -60%;
    right: 0%;
    rotate: -20deg;
}

/* page 4 start  */
#page4 {
    width: 100vw;
    height:100vh;
    position: static;
    background-color: #dadada;
    z-index: 8;
}
#page4-inner {
    width: 160%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 5vw;
    padding-left: 300px;
    /* overflow: hidden; */
}
.p4cont {
    min-width: 50vw;
    height: 60vh;
    background-color: #e5e4e4;
    border-radius: 3vw;
    padding: 2vw;
    overflow: hidden;
}
.vidcont {
    width: 50vw;
    height: 25vh;
    /* background-color: #b92eef; */
    display: flex;
    align-items: top;
}
.vidcont video {
    width: 280px;
    border-radius: 200px;
}
#p4cont1 .p4head:nth-child(1) {
    font-size: 7vw;
    color: #3a3a3a;
}
.p4head {
    font-size: 4vw;
    font-family: remixa;
    color:#b92eef;
}
.p4subhead{
    font-family: gilroy;
    font-weight: 200;
    font-size: 20px;
    color: #3a3a3a;
    margin-top: 20px;
}
span {
    font-family: mazius;
    color:#b92eef;
}
#page4 span {
    font-weight:700;
}
.p4num {
    font-size: 120px;
    font-family: remixa;
    color: rgba(199, 199, 199, 0.361);
    display: flex;
    justify-content: end;
}

#page4-5-parent {
    position: relative;
}
/* page5 start  */
#page5 {
    width: 100vw;
    height: 120vh;
    background-color: #3a3a3a;
    position: relative;
    z-index: 99;
    /* margin-top: -1000px; */
}
#page5subhead {
    color: #b92eef;
    font-family: mazius;
    font-weight: 500;
    padding-left: 13vw;
    padding-top: 70px;
    margin-bottom: -50px;
}
#page5head {
    font-family: gilroy;
    font-weight: 500;
    font-size: 12vw;
    padding: 0vw 3vw;
}
#page5para {
    width: 60vw;
    font-family: gilroy;
    font-weight: 200;
    font-size: 20px;
    padding: 3vw 6vw;
}
#page5para span {
    font-size: 2vw;
    font-weight: 500;
}
.allbutton {
    width:  360px;
    height: 110px;
    border-radius: 100px;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60vw;
    background-color: transparent;
}
#buttons {
    font-family: gilroy;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    color: #b92eef;
}
#buttons:hover .allbutton {
    background-color: #dadada;
}